services/ms-workflow/serverless.yml
org: javierpariansullca
service: ms-workflow

frameworkVersion: "4"

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/pedido_pasos-${sls:stage}
        - !Sub arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/pedidos-${sls:stage}
    - Effect: Allow
      Action:
        - states:SendTaskSuccess
        - states:SendTaskFailure
      Resource: "*"
  environment:
    TABLA_PASOS: pedido_pasos-${sls:stage}
    TABLA_PEDIDOS: pedidos-${sls:stage}
    OCI_URL: https://o3tkubrhewdcid2x3drsmmvlay.apigateway.us-chicago-1.oci.customer-oci.com/rappi/estado


functions:
  # ── Invocada externamente (EventBridge o Lambda) ────────────────────────
  iniciarWorkflow:
    handler: handlers/iniciar_workflow.handler
    environment:
      STATE_MACHINE_ARN: !Sub >-
        arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkflowPedido-${sls:stage}

  # ── Invocada por API Gateway (operador/frontend) ─────────────────────────
  avanzarPaso:
    handler: handlers/avanzar_paso.handler
    events:
      - http:
          path: pasos/avanzar
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: !Ref ApiGatewayAuthorizer
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  # ── Invocadas por Step Functions (waitForTaskToken) ──────────────────────
  cocinarTask:
    handler: handlers/cocinar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  despacharTask:
    handler: handlers/despachar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  repartirTask:
    handler: handlers/repartir_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  entregarTask:
    handler: handlers/entregar_task.handler
    environment:
      TABLA_PEDIDOS: pedidos-${sls:stage}

  # ── Invocada por Step Functions (Task simple, solo si origen == rappi) ───
  notificarOciTask:
    handler: handlers/notificar_oci_task.handler

# ── Step Function ─────────────────────────────────────────────────────────
stepFunctions:
  stateMachines:
    workflowPedido:
      name: WorkflowPedido-${sls:stage}
      role: arn:aws:iam::${aws:accountId}:role/LabRole
      definition:
        Comment: "Flujo de pedidos: Cocina -> Despacho -> Reparto -> Entregado (Wait for Callback), con notificacion condicional a OCI/Rappi y reintentos"
        StartAt: Cocina
        States:
          Cocina:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-cocinarTask
              Payload:
                paso: "COCINA"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoCocina"
            TimeoutSeconds: 3600
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido
            Next: EsRappi_Cocina

          EsRappi_Cocina:
            Type: Choice
            Choices:
              - Variable: "$.origen"
                StringEquals: "rappi"
                Next: NotificarOCI_Cocina
            Default: Despacho

          NotificarOCI_Cocina:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-notificarOciTask
              Payload:
                pedido_id.$: "$.pedido_id"
                estado: "EN_COCINA"
            ResultPath: "$.notificacionCocina"
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorNotificacionCocina"
                Next: Despacho
            Next: Despacho

          Despacho:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-despacharTask
              Payload:
                paso: "DESPACHO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoDespacho"
            TimeoutSeconds: 3600
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido
            Next: EsRappi_Despacho

          EsRappi_Despacho:
            Type: Choice
            Choices:
              - Variable: "$.origen"
                StringEquals: "rappi"
                Next: NotificarOCI_Despacho
            Default: Reparto

          NotificarOCI_Despacho:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-notificarOciTask
              Payload:
                pedido_id.$: "$.pedido_id"
                estado: "EN_DESPACHO"
            ResultPath: "$.notificacionDespacho"
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorNotificacionDespacho"
                Next: Reparto
            Next: Reparto

          Reparto:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-repartirTask
              Payload:
                paso: "REPARTO"
                pedido.$: "$"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.resultadoReparto"
            TimeoutSeconds: 7200
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 3
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido
            Next: EsRappi_Reparto

          EsRappi_Reparto:
            Type: Choice
            Choices:
              - Variable: "$.origen"
                StringEquals: "rappi"
                Next: NotificarOCI_Reparto
            Default: Entregado

          NotificarOCI_Reparto:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-notificarOciTask
              Payload:
                pedido_id.$: "$.pedido_id"
                estado: "EN_REPARTO"
            ResultPath: "$.notificacionReparto"
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorNotificacionReparto"
                Next: Entregado
            Next: Entregado

          Entregado:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-entregarTask
              Payload:
                paso: "ENTREGADO"
                pedido.$: "$"
            ResultPath: "$.resultadoEntregado"
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: PedidoFallido
            Next: EsRappi_Entregado

          EsRappi_Entregado:
            Type: Choice
            Choices:
              - Variable: "$.origen"
                StringEquals: "rappi"
                Next: NotificarOCI_Entregado
            Default: PedidoEntregado

          NotificarOCI_Entregado:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !Sub >-
                arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${self:service}-${sls:stage}-notificarOciTask
              Payload:
                pedido_id.$: "$.pedido_id"
                estado: "ENTREGADO"
            ResultPath: "$.notificacionEntregado"
            Retry:
              - ErrorEquals: ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"]
                IntervalSeconds: 2
                MaxAttempts: 2
                BackoffRate: 2.0
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.errorNotificacionEntregado"
                Next: PedidoEntregado
            Next: PedidoEntregado

          PedidoEntregado:
            Type: Succeed

          PedidoFallido:
            Type: Fail
            Error: "PedidoError"
            Cause: "El flujo de trabajo falló en uno de los pasos."

# ── Recursos CloudFormation ───────────────────────────────────────────────
resources:
  Resources:
    # ── Authorizer referenciando el User Pool de ms-auth ──────────────────
    ApiGatewayAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: CognitoAuthorizer-workflow-${sls:stage}
        Type: COGNITO_USER_POOLS
        IdentitySource: method.request.header.Authorization
        RestApiId: !Ref ApiGatewayRestApi
        ProviderARNs:
          - ${cf:ms-auth-${sls:stage}.UserPoolArn}

    # ── CORS en respuestas nativas de error (401/403 del Authorizer) ───────
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
        ResponseType: DEFAULT_4XX
        RestApiId: !Ref ApiGatewayRestApi

    # ── Tabla DynamoDB de pasos ───────────────────────────────────────────
    TablaPedidoPasos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pedido_pasos-${sls:stage}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: paso_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: paso_id
            KeyType: RANGE

    # ── Regla de EventBridge para iniciar Step Functions ───────────────────
    EventBridgeToStepFunctionsRule:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: pedidos-bus-${sls:stage}
        EventPattern:
          source:
            - pedidos.app
          detail-type:
            - PedidoCreado
        State: ENABLED
        Targets:
          - Arn: !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:WorkflowPedido-${sls:stage}
            Id: TargetStateMachine
            RoleArn: !Sub arn:aws:iam::${AWS::AccountId}:role/LabRole
            InputPath: "$.detail"
